*{padding:0;margin:0;border:0}
html,body{height: 100%; width:100%}
a:focus, a:active {outline:none}

.wrapper{
    /*position: relative;*/
    padding: 20px 0 20px 0;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    background: #c9e9f0;

}
.container{

    /*position: relative;*/
    width: 90%;
    height: 320px;
    margin: 10px auto;
    border: 1.2px solid #86d8eb;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*position: relative;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.block-search {
    height: 8%;
    border: 1px solid black
}

.input {
    width: 90%;
    margin-right: 5px;
}

.image-container {
    /*position: relative;*/
    border: 1px solid black;
    height: 42%;
    margin: 10px 0 10px 0;

}

.drap-drop {
    display: inline;
    border: 1px solid black;
    height: 25%;

}
.item-drop1 {
    border: 1px solid black;
    width: 50%;
    float:left;
}
.item-drop2 {
    border: 1px solid black;
    width: 50%;
    float:right;
}
.show-item {
    border: 1px solid black;
    height: 25%;
}

.image-design {
    max-width: 70px;
    max-height: 150px;
    padding: 1px 1px 1px 1px;
}