*{padding:0;margin:0;border:0}
html,body{height: 100%; width:100%}
a:focus, a:active {outline:none}

.container{

    /*position: relative;*/
    width: 90%;
    height: 800px;
    margin: 10px auto;
    border: 1.2px solid #dee8ec;
}

.body {
    padding: 30px;
    background: #e5e9eb;
    margin:50px;
  
}

.block-search {
    padding: 10px;
    background-color: #dee8ec;
  
}

.input {
    width: 80%;
    padding:7px;
    border: 1px solid grey;
}

.btn-search {
    padding: 7px;
    margin-left: 5px;
    border: 1px solid black;
    display: inline-block;
}

.image-container {
    position: relative;
    padding: 25px;
    min-height:300px;
    background-color: #dee8ec;
    border: 2px dashed rgb(166, 210, 252)

}

.show-item {
    border: 1px solid black;
    height: 25%;
}


.tag-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.tag-item {
    color:white;
    text-align: center;
    font-weight: 800;
    padding: 25px;
    background: #5ab7f1;
    min-width: 300px;
    border-radius: 15px;
    
}

.merged-container{
    border: 2px dashed rgb(166, 210, 252)
}

.group-pics-title {
    color:grey;
    text-align: center;
}

.group-pics-container{
    min-width: 100px;
    min-height: 100px;
    
}